.flex {
  display: flex; }

.activePage {
  display: block; }

.none {
  display: none; }

body {
  background-color: #34C82C; }

.menuPage {
  width: 100%;
  min-height: 700px;
  background: url(images/frontpage.jpg);
  background-size: cover;
  display: block; }
  .menuPage h1 {
    text-align: center;
    margin: 0;
    padding-top: 5%;
    width: 100%;
    font-size: 7vmax;
    color: red;
    text-shadow: 3px 3px 3px black;
    font-family: fantasy; }

.buttonWrapper {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 3%; }

.startWrapper {
  width: 100%; }
  .startWrapper .startBtnWrapper {
    height: 100%; }
    .startWrapper .startBtnWrapper button {
      width: 40%;
      height: auto;
      font-size: 6vmax;
      border-radius: 10px;
      background-color: green;
      border: none;
      box-shadow: 3px 3px 3px black;
      color: white; }
      .startWrapper .startBtnWrapper button:hover {
        color: green;
        background-color: white;
        transition: all .5s;
        border: 2px solid green; }

.rulesWrapper {
  margin-top: 10%;
  width: 100%;
  text-align: center; }
  .rulesWrapper .rulesBtnWrapper {
    height: 100%; }
    .rulesWrapper .rulesBtnWrapper button {
      width: 40%;
      height: auto;
      font-size: 6vmax;
      border-radius: 10px;
      background-color: green;
      border: none;
      box-shadow: 3px 3px 3px black;
      color: white; }
      .rulesWrapper .rulesBtnWrapper button:hover {
        color: green;
        background-color: white;
        transition: all .5s;
        border: 2px solid green; }

.gamePage {
  width: 100%;
  min-height: 600px;
  /* overflow: hidden; */
  background: url(images/StadiumBackground.jpg) no-repeat;
  /* background-position: -90px -400px; */
  background-size: 100%;
  margin-left: auto;
  margin-right: auto; }

.gamePageWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.fieldWrapper {
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto; }

.field {
  margin-top: 30%; }

.goalWrapper {
  text-align: center; }
  .goalWrapper .goal {
    margin-top: 50px;
    background: url(images/goalnet.png) no-repeat;
    background-position: center;
    height: 350px; }

.ballLightWrapper {
  width: 30px;
  float: right;
  margin-right: 7%;
  display: block; }
  .ballLightWrapper .ballLight {
    display: block;
    width: 40px;
    height: 40px;
    margin: 50%;
    border-radius: 100%;
    background-color: white;
    float: right;
    box-shadow: 3px 3px 3px black;
    border: 2px; }
    .ballLightWrapper .ballLight img {
      width: 40px;
      height: 40px; }

.titles {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-wrap: wrap;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }
  .titles iframe {
    width: 100%;
    height: 80%; }
  .titles button {
    width: auto;
    height: auto;
    font-size: 5vmax;
    border-radius: 10px;
    background-color: green;
    border: none;
    box-shadow: 3px 3px 3px black;
    color: white; }
    .titles button:hover {
      color: green;
      background-color: white;
      transition: all .5s;
      border: 2px solid green; }

.winner {
  text-align: center;
  z-index: 100;
  height: 50%;
  /* display: block; */
  color: red;
  margin-left: auto;
  margin-right: auto;
  font-size: 7vmax;
  text-emphasis: 3px; }
  .winner button {
    width: auto;
    height: auto;
    font-size: 5vmax;
    border-radius: 10px;
    background-color: green;
    border: none;
    box-shadow: 3px 3px 3px black;
    color: white; }
    .winner button:hover {
      color: green;
      background-color: white;
      transition: all .5s;
      border: 2px solid green; }

.lose {
  flex-wrap: wrap;
  text-align: center;
  z-index: 100;
  height: 50%;
  color: red;
  margin-left: auto;
  margin-right: auto;
  font-size: 7vmax;
  text-emphasis: 3px; }

#goal {
  text-align: center;
  z-index: 100;
  height: 50%;
  /* display: block; */
  color: red;
  margin-left: auto;
  margin-right: auto;
  font-size: 7vmax;
  text-emphasis: 3px;
  background-color: rgba(247, 210, 22, 0.9);
  -webkit-box-shadow: -1px 16px 206px 93px #f7d216;
  -moz-box-shadow: -1px 16px 206px 93px #f7d216;
  box-shadow: -1px 16px 206px 93px #f7d216; }

.scoreBoard {
  width: 15%;
  height: 60%;
  float: left;
  background-color: white;
  margin-left: 2%;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black; }

.shotsWrapper {
  margin: 10%;
  margin-top: 0; }
  .shotsWrapper .shots {
    color: red;
    font-size: 3vmax; }

.scoreWrapper {
  margin: 10%; }
  .scoreWrapper .score {
    color: red;
    font-size: 3vmax; }

.goalie {
  display: flex;
  justify-content: center;
  min-height: 350px; }
  .goalie #goalieMiss {
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto; }
  .goalie #goalieSave {
    width: 22%;
    height: 22%;
    margin-left: auto;
    margin-right: auto; }

#ball img {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%; }

.image {
  position: relative;
  width: 100%;
  /* for IE 6 */ }

.shoot {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
